@import src/assets/sass/public/fonts
@import src/assets/sass/public/colors

#categories

  > .pageContainer
    padding: 50px 70px
    max-width: 1440px
    margin: auto

    .pageTitle
      font-family: ubuntu, serif
      font-size: 40px
      text-align: center

    > .searchInput
      border-radius: 15px
      padding: 28px 30px
      background-color: white

      img
        background-color: white
        border: none
        width: 45px

      input
        padding: 0
        border: none
        box-shadow: none
        font-size: 18px
        font-family: roboto, serif

