#search
  padding: 16px
  max-width: 1440px!important
  width: 100%!important
  margin: auto

  > .searchInput
    background-color: white
    padding: 20px
    border-radius: 10px

    > input
      background: transparent
      border: none
      flex-grow: 1

    > input:focus
      outline: none!important

    > img
      width: 20px
      height: 20px

  > .searchContainer
    padding-top: 16px

    > .left
      width: 366px
      padding-right: 16px

      > .inner
        background-color: white
        border-radius: 10px
        padding: 20px

        > div
          padding-bottom: 10px

          > .header
            > p
              text-transform: uppercase
              color: black
              font-family: roboto, serif
              font-size: 20px

            > div
              height: 1px
              width: 100%
              border: 1px dashed black
    > .right
      background-color: white
      border-radius: 10px
      padding: 20px

