.productContainer
  background-color: white
  border-radius: 15px
  text-align: center

.sectionsTitle
  font-family: Ubuntu, serif
  font-size: 40px
  color: #575757

#home
  background-color: whitesmoke
  padding: 85px 60px

  .inSalesProducts
    @extend .productContainer

    .input-group
      padding: 25px 25px
      border-radius: 15px
      box-shadow: 0 0 8px 2px rgba(104, 104, 104, 0.27)
      top: -35px
      background-color: white

      img
        background-color: white
        border: none
        width: 45px

      input
        padding: 0
        border: none
        box-shadow: none
        font-size: 18px
        font-family: 'roboto', serif
